doctype html
html
    head 
        title Richard Dance Academy

        //- "block" blocks code so that I can replace them
        block scripts 
        block style
    body 
        nav#navbar 
            ul
                div#logo
                    img(src="/static/img/logo.png")
                    | RDA
                //- creating an embedded <a></a> without multiple lines
                li #[a(href="/") Home]
                li #[a(href="/") About] 
                li #[a(href="/") Services]
                li #[a(href="/") Class Info]
                li #[a(href="/contact") Contact Us]
        block content 
        footer#footer
            | Copyright © 2024 RichardDanceAcademy.com | All Rights Reserved