doctype html
html
    head 
        title Richard Dance Academy

        //- "block" blocks code so that I can replace them
        block scripts 
        block style
    body 
        block content 
        footer#footer
            | Copyright © 2024 RichardDanceAcademy.com | All Rights Reserved