<!DOCTYPE html>
<html>
<head>
    <title>Richard Dance Academy</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav id="navbar">
        <ul>
            <div id="logo">
                <img src="/static/img/logo.png">
                RDA
            </div>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Services</a></li>
            <li><a href="/">Class Info</a></li>
            <li><a href="/">Contact Us</a></li>
        </ul>
    </nav>

    <section id="introSection">
        <div>Welcome to Richard's Dance Academy</div>
        <div class="small">Eat, Sleep, Dance, Repeat</div>
    </section>

    <section id="missionSection">
        <h2>Our Mission</h2>
        <div class="card">
            <h3>Dance Perfection</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="/static/img/1.png">
                </div>
                <div class="card-content">
                    <p>To encourage performers to be their best</p>
                </div>
            </div>
        </div>
        <div class="card">
            <h3>Dance The Way You Like</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="/static/img/2.png">
                </div>
                <div class="card-content">
                    <p>Provide multiple styles of dance to choose from</p>
                </div>
            </div>
        </div>
        <div class="card">
            <h3>Expert Teaching</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="/static/img/3.png">
                </div>
                <div class="card-content">
                    <p>Professional dancers trained to teach you no matter the skill</p>
                </div>
            </div>
        </div>
    </section>

    <section id="sponsorSection">
        <h2>Our Sponsors</h2>
        <div id="sponsors">
            <img src="/static/img/logo1.png" alt="Sponsor Image" class="spImage">
            <img src="/static/img/logo2.png" alt="Sponsor Image" class="spImage">
            <img src="/static/img/logo3.png" alt="Sponsor Image" class="spImage">
            <img src="/static/img/logo4.png" alt="Sponsor Image" class="spImage">
        </div>
    </section>

    <footer id="footer">
        Copyright © 2024 RichardDanceAcademy.com | All Rights Reserved
    </footer>

    <script>
        // Include your JavaScript file content here
    </script>
</body>
</html>