doctype html 
html
    head
        title Richard Dance Academy
        style
            include ../static/style.css 
    body
        nav#navbar 
            ul
                //- creating an embedded <a></a> without multiple lines
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Class Info]
                li #[a(href="/") Contact Us]
                //- could do it like this (see below) but why it's super messy
                //- li
                //-     a(href="/")
                //-         | test

        section#introSection
            div Welcome to Richard's Dance Academy
            div.small Eat, Sleep, Dance, Repeat
        
        section#missionSection 
            h2 Our Mission 

        section#sponsorSection
            h2 Our Sponsors
        
        footer#footer
            | footer goes here
        
        script
            include ../static/index.js